* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Sets the background color of the body element */
body {
  background-color: #d9dcd6;
}

/* Sets the padding, font-family, background-color, and font color for the header element */
header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

/* Sets the display and font-size for the main header */
header h1 {
  display: inline-block;
  font-size: 40px;
}

/* Sets the padding, margin, float, font-family, and font-size for the navigation element within the header element */
header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

/* Sets the list-style-type for the undefined list element within the navigation element all within the header element. */
header nav ul {
  list-style-type: none;
  color: black;
}

/* Sets the display for the list elements within the undefined list element within the navigation element all within the header element. */
header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}